header{
    position: relative;
}

.carousel {
    width: 100vw;
    margin: 0;


  }

  .carousel-inner {
    margin: 0;
  }


.contactHeader{
    width: 17rem;
    font-size: 1.8rem;
    height: 5.4rem;
    padding-top: 1.2rem;
    background-color: #FFFFFF;
    color: #1E285F;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    position: absolute;  
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
text-decoration: none;
text-align: center;


}

.contactHeader:hover{
    color: black;
}

.respCarousel{
display: none !important;
}


@media (max-width: 875px) {
    .respCarousel{
        display: initial !important;
    }
.carousel-inner{
    padding-top: 10rem;
}
    .imgCarousel{
        display: none !important;
    }
}

@media (max-width: 370px) {
    .contactHeader{
        width: 12rem;
    height: 4rem; 
    font-size: 1.5rem;
    padding: 0.9rem;
    }
}