.navbar{
    background-color: #1E285F !important;
    height: 10.5rem;
    width: 100%;
    z-index: 1;
    position: fixed;
    box-shadow: 0px 1.2px 1px white;
    display: flex;

    .logoNav{
        img{
          width: 15rem;  
          margin-left: 2rem;
        }
    }
    .navbar-collapse{
        background-color: #1E285F;

    }
    .linksNav{
        display: flex;
        align-items: center;
        margin-left: 55.5rem;
    }
}

.navbar-nav{

    a{
        width: 13rem;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }


.inicio{
    width: 10rem;
}
    .contact{
        background-color: white;
        color: #1E285F;
    }
   }
   @media (max-width: 1399px) {

    .linksNav{
        margin-left: 37rem !important;
    }
   }

   @media (max-width: 1199px) {

    .linksNav{
        margin-left: 20rem !important;
    }
   }
   @media (max-width: 991px) {
    .navbar{
        flex-direction: row-reverse !important; 
    }
    .logoNav{
        img{
        
          margin-right: 2rem;
        }

    }
    .navbar-collapse{
        box-shadow: 0px 2px 5px black;
        margin-top: 1.5rem;
        padding: 0.5rem;
    }
    .navbar-toggler{
        background-color: white ;
        width: 5rem;
        margin-right: 2rem;
    }

    .linksNav{
        margin: 0 !important;
        display: flex;
        flex-direction: column;
    }

    .navbar{
        margin: 0 !important;
    }
   }