* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

h2{
    font-family: 'Arvo', serif;
    font-size: 3.5rem;
    color: #1E285F;
    margin-top: 10rem;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    word-spacing: 0.2rem
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #6B6B6B;
}

button{
    width: 15rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: #1E285F;
    color: white;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif; 
    font-size: 1.8rem;
    color: white;

}